.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* padding: 5%; */
    /* padding: 5%; */
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    padding: 5%;
}
.card-container{
    margin-left: 20%;
    background-color: rgb(38, 58, 58);
    padding:5%;
}

@media screen and (max-width:576px){
    .product-container {
        grid-template-columns: repeat(1, 1fr);
    }
}


